<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wr(a)ite</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/image/logo.svg">
</head>
<body>
    <div class="header">
        <img src="../static/image/logo_name.png" alt="Couldn't load image">
    </div>
    <div class="content_center">
        <p>Hello, {% block login %}{{ login }}{% endblock %} ({% block name %}{{ name }}{% endblock %})</p>
        <p>Your password has been reset.</p>
        <p>You can change this password after you've logged into your account.</p>
        <p>New password: <b>{% block password %}{{ password }}{% endblock %}</b></p>
    </div>
    <div class="footer">
        <p>wr(a)ite by A. Kłobus, A. Koperwas, A. Stecka, B. Tlołka, Applied Computer Science, PWr, 2022</p>
    </div>
</body>
</html>